web/payment/migrations
web/payment/__pycache__
web/payment/__init__.py
web/telegram/migrations
web/telegram/__pycache__
web/telegram/__init__.py
web/accounts/migrations
web/accounts/__pycache__
web/accounts/__init__.py
web/main/migrations
web/main/__init__.py
web/main/__pycache__
web/finbot/__init__.py
web/finbot/__pycache__
web/blog/migrations
web/accounts/migrations
env/
.env

/front/node_modules
/front/.pnp
/front/.pnp.js

# testing
/front/coverage

# production
/front/build

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*