web/payment/migrations
web/payment/__pycache__
web/payment/__init__.py
web/telegram/migrations
web/telegram/__pycache__
web/telegram/__init__.py
web/accounts/migrations
web/accounts/__pycache__
web/accounts/__init__.py
web/main/migrations
web/main/__init__.py
web/main/__pycache__
web/finbot/__init__.py
web/finbot/__pycache__
web/blog/migrations
web/accounts/migrations
env/
.env

/front_finbotincome/node_modules
/front_finbotincome/.pnp
/front_finbotincome/.pnp.js

# testing
/front_finbotincome/coverage

# production
/front_finbotincome/build

# misc
/front_finbotincome/.DS_Store
/front_finbotincome/.env.local
/front_finbotincome/.env.development.local
/front_finbotincome/.env.test.local
/front_finbotincome/.env.production.local

/front_finbotincome/npm-debug.log*
/front_finbotincome/yarn-debug.log*
/front_finbotincome/yarn-error.log*